
<div class="container">
	<div class="account-wall">
		<form id="signupForm" novalidate name="signupForm" class="css-form form-signin">
			<div class="row">
				<p class="login-title text-center">Please enter your information</p>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<input type="text", name="first_name" ng-model="user.first_name" class="form-control" placeholder="First Name" autofocus required />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<p class="red-text" ng-show="signupForm.first_name.$error.required && signupForm.first_name.$dirty"><span>First Name is required.</span></p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<input type="text", name="last_name" ng-model="user.last_name" class="form-control" placeholder="Last Name" required />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<p class="red-text" ng-show="signupForm.last_name.$error.required && signupForm.last_name.$dirty"><span>Last Name is required.</span></p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<input type="email", name="email" ng-model="user.email" class="form-control" placeholder="user@isp.net" required />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<p class="red-text" ng-show="signupForm.email.$error.required && signupForm.email.$dirty"><span>Email is required.</span></p>
					<p class="red-text" ng-show="signupForm.email.$error.email && signupForm.email.$dirty"><span>Check email format.</span></p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required ng-minlength="4" ng-maxlength="8">
				</div>
				<div class="col-sm-12 col-md-12">
					<p class="red-text" ng-show="signupForm.password.$error.required && signupForm.password.$dirty"><span>Password is required.</span></p>
					<p class="red-text" ng-show="(signupForm.password.$error.minlength || signupForm.password.$error.maxlength) && signupForm.password.$dirty"><span>Password minimum length is 4 and maximum 8 chars.</span></p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<input type="password" name="password_confirmation" ng-model="user.password_confirmation" class="form-control" placeholder="Password Confirmation" password-match required ng-minlength="3" ng-maxlength="8">
				</div>
				<div class="col-sm-12 col-md-12">
					<p class="red-text" ng-show="signupForm.password_confirmation.$error.required && signupForm.password_confirmation.$dirty"><span>Password confirmation is required.</span></p>
					<p class="red-text" ng-show="signupForm.password_confirmation.$error.passwordMatch && signupForm.password_confirmation.$dirty"><span>Password confirmaton must match password.</span></p>
				</div>
			</div>
			<br/>
			<button ng-click="signup(user)" class="btn btn-lg btn-success btn-block">Sign up</button>
		</form>
	</div>
</div>