

<div class="container">
	<br/>
	<hr>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
			<p>Angular 1.2.9 App</p>
			<p>Expense Tracker Prototype</p>
		</div>
	</div>
</div>

