<div id="report">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Report</h3>
	</div>

	<div class="modal-body">
		<form accept-charset="UTF-8" class="form-signin" id="report_form">
			<p class="text-center important_text"><strong>Please choose dates:</strong></p>
			<hr>
			<br/>

			<div class="row">
				<div class="col-md-6 col-lg-6">
					<span class="label label-info">Start date:</span>
					<p class="input-group">
						<input type="text" style="width: 105px;" class="form-control" datepicker-popup ng-model="startDate" is-open="sd.opened" close-text="Close"/>
						<span class="input-group-btn">
							<button type="button" style="height: 45px;" class="btn btn-default" ng-click="openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<div class="col-md-6 col-lg-6">
					<span class="label label-info">End date:</span>
					<p class="input-group">
						<input type="text"  style="width: 105px;" class="form-control" datepicker-popup ng-model="endDate" is-open="ed.opened" close-text="Close"/>
						<span class="input-group-btn">
							<button type="button" style="height: 45px;" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-success" type="button" ng-click="generateReport(startDate, endDate)">Download</button>
		<button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>