
<div class="container">
	<br/>
	<hr>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
			<h3>Contact me at: </h3>
			<hr>
			<br/>
			<p>Phone: +387 61 254 044</p>
			<p>email: ciloid@gmail.com</p>
		</div>
	</div>
</div>
