
<div id="newUser">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">New User</h3>
    </div>

    <div class="modal-body" id="modal-body">

    <form id="newUserForm" novalidate name="newUserForm" class="form-signin">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <input type="text", name="first_name" ng-model="newUser.first_name" class="form-control" placeholder="First Name" autofocus required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="red-text" ng-show="newUserForm.first_name.$error.required && newUserForm.first_name.$dirty"><span>First Name is required.</span></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <input type="text", name="last_name" ng-model="newUser.last_name" class="form-control" placeholder="Last Name" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="red-text" ng-show="newUserForm.last_name.$error.required && newUserForm.last_name.$dirty"><span>Last Name is required.</span></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <input type="email", name="email" ng-model="newUser.email" class="form-control" placeholder="user@isp.net" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="red-text" ng-show="newUserForm.email.$error.required && newUserForm.email.$dirty"><span>Email is required.</span></p>
                    <p class="red-text" ng-show="newUserForm.email.$error.email && newUserForm.email.$dirty"><span>Check email format.</span></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <input type="password" name="password" ng-model="newUser.password" class="form-control" placeholder="Password" required ng-minlength="4" ng-maxlength="8">
                </div>
                <div class="col-sm-12 col-md-12">
                    <p class="red-text" ng-show="newUserForm.password.$error.required && newUserForm.password.$dirty"><span>Password is required.</span></p>
                    <p class="red-text" ng-show="(newUserForm.password.$error.minlength || newUserForm.password.$error.maxlength) && newUserForm.password.$dirty"><span>Password minimum length is 4 and maximum 8 chars.</span></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <input type="password" name="password_confirmation" ng-model="newUser.password_confirmation" class="form-control" placeholder="Password Confirmation" password-match-new-user required ng-minlength="3" ng-maxlength="8">
                </div>
                <div class="col-sm-12 col-md-12">
                    <p class="red-text" ng-show="newUserForm.password_confirmation.$error.required && newUserForm.password_confirmation.$dirty"><span>Password confirmation is required.</span></p>
                    <p class="red-text" ng-show="newUserForm.password_confirmation.$error.passwordMatchNewUser && newUserForm.password_confirmation.$dirty"><span>Password confirmaton must match password.</span></p>
                </div>
            </div>
            <br/>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="saveUser(newUser)">Save</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>