
<div id="userDetails">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">User Details</h3>
    </div>

    <div class="modal-body">
        <p><strong class="important_text">Email:</strong> {{user.email}}</p>
        <p><strong class="important_text">First Name:</strong> {{user.first_name}}</p>
        <p><strong class="important_text">Last Name:</strong> {{user.last_name}}</p>
        <p><strong class="important_text">Role:</strong> {{user.role}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>