
<div id="editExpense">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit Expense</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <form accept-charset="UTF-8" class="form-signin" id="edit_expense_form">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <input type="text" autofocus="autofocus" ng-model="editExpense.description" required="required" placeholder="Description" class="form-control" id="new_ex_description" name="description" aria-required="true">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <input type="number" min="0" max="1000000" ng-model="editExpense.amount" required="required" placeholder="Amount" class="form-control" id="new_ex_amount" name="amount" aria-required="true">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div style="display:inline-block;">
                      <div datepicker ng-model="editExpense.date" class="well well-sm" datepicker-options="dateOptions"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div style="display:inline-block;">
                      <div timepicker show-meridian="false" ng-model="editExpense.time" class="well well-sm" timepicker-options="timeOptions"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <textarea placeholder="Comment" ng-model="editExpense.comment" cols="34" rows="4" id="new_ex_comment" name="comment"></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="update(editExpense)">Update</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>