
<div id="expenseDetails">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Expense Details</h3>
    </div>

    <div class="modal-body">
        <p><strong class="important_text">Description:</strong> {{expenseDetails.description}}</p>
        <p><strong class="important_text">Amount:</strong> {{expenseDetails.amount | currency : "KM"}}</p>
        <p><strong class="important_text">Date:</strong> {{expenseDetails.date}}</p>
        <p><strong class="important_text">Time:</strong> {{expenseDetails.time}}</p>
        <p><strong class="important_text">Comment:</strong> {{expenseDetails.comment === "undefined" ? "" : expenseDetails.comment}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>