
<div class="container">
	<div ng-include="'shared/welcome.tpl.html'" class="row"></div>

	<div class="row">
		<tabset active="activeJustified" justified="true">
			<!-- Expenses tab start -->
			<tab index="0" heading="Expenses">
				<br/><br/>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-lg-offset-1">
						<button type="button" class="btn btn-primary" data-ng-click="newExpense()">Add expense</button>
					</div>
					<div class="col-lg-1 col-md-1">
						<label for="filters">Filter by:</label>
					</div>
					<div class="col-lg-2 col-md-2">
						<select name="filters" class="form-control" ng-model="selectedFilter" ng-change="applyFilter(selectedFilter)" ng-options="filter as filter.name for filter in expenseFilters">
						</select>
					</div>
					<div class="col-lg-2 col-md-2 col-md-offset-2 col-lg-offset-2">
						<button type="button" class="btn btn-info" data-ng-click="openReportModal()">Report</button>
					</div>
				</div>
				<br/><br/>
				<div class="row">
					<div class="table-container">
						<div class="col-md-12">
							<table class="table table-striped" id="regular_user_expenses_table">
								<thead>
									<tr>
										<th>Description</th>
										<th>Amount</th>
										<th>Date</th>
										<th>Time</th>
										<th>Comment</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody id="regular_user_expenses_tbl_body">
									<tr ng-repeat="item in adminExpenses">
										<td>{{item.expense.description}}</td>
										<td>{{item.expense.amount | currency }}</td>
										<td>{{item.expense.date | date : "yyyy-MM-dd"}}</td>
										<td>{{item.expense.time | date : "hh:mm"}}</td>
										<td>{{item.expense.comment === "undefined" ? "" : item.expense.comment}}</td>
										<td>
											<button type="button" class="btn btn-success" data-ng-click="showExpense(item.expense)">View details</button>
											<button type="button" class="btn btn-warning" data-ng-click="editExpense(item.expense)">Edit</button>
											<button type="button" class="btn btn-danger" data-ng-click="deleteExpense(item.expense)">Delete</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</tab>
			<!-- Expenses tab end -->

			<!-- Users tab start -->
			<tab index="1" heading="Users">
				<br/><br/>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-lg-offset-1">
						<button type="button" class="btn btn-primary" data-ng-click="newUser()">Add new user</button>
					</div>
				</div>
				<br/><br/>
				<div class="row">
					<div class="table-container">
						<div class="col-md-12">
							<table class="table table-striped" id="users_table">
								<thead>
									<tr>
										<th>Email</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Role</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody id="users_tbl_body">
									<tr ng-repeat="item in users">
										<td>{{item.user.email}}</td>
										<td>{{item.user.first_name}}</td>
										<td>{{item.user.last_name}}</td>
										<td>{{item.user.role}}</td>
										<td>
											<button type="button" class="btn btn-success" data-ng-click="showUser(item.user)">View details</button>
											<button type="button" class="btn btn-warning" data-ng-click="editUser(item.user)">Edit</button>
											<button type="button" class="btn btn-danger" data-ng-click="deleteUser(item.user)">Delete</button>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</tab>
			<!-- Users tab end -->
		</tabset>
	</div>
</div>
</div>