
<div id="welcome" ng-controller="SharedController">
	<h4>Welcome <strong ng-bind="current_user.first_name"></strong>, you're logged in as <strong ng-bind="current_user.role"></strong> user.</h4>
	<hr>
</div>